@import '../../../global.scss';
.container-all {
    background-color: #E6F1F7 !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-form {
    background-color: white;
    padding: 10px !important;
    border-radius: 10px !important;
}