<ion-header>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <img src="../../../assets/Logo/BANNER.png" height="70px" alt="">
            </ion-col>
            <ion-col size="12">
                <ion-row class="container-form">
                    <ion-col size="12">
                        <div class="full-width" style="text-align: justify;">
                            {{'reset_password.data.p1' | translate }}
                        </div>
                    </ion-col>
                    <ion-col size="12">
                        <mat-form-field class="full-width">
                            <mat-label>{{'reset_password.data.code' | translate }}</mat-label>
                            <input matInput [formControl]="code">
                            <mat-error *ngIf="code.invalid">{{getErrorMessageCode()}}</mat-error>
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="12">
                        <mat-form-field class="full-width">
                            <mat-label>{{'reset_password.data.password' | translate }}</mat-label>
                            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="color-blue-aqua">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    </button>
                            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="12">
                        <mat-form-field class="full-width">
                            <mat-label>{{'reset_password.data.confirm_password' | translate }}</mat-label>
                            <input matInput [formControl]="confirmPassword" [type]="Chide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="Chide = !Chide">
                                        <mat-icon class="color-blue-aqua">{{Chide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    </button>
                            <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessageConfirmPassword()}}</mat-error>

                        </mat-form-field>
                        <mat-label *ngIf="(confirmPassword.value != password.value) && confirmPassword.value.length > 2" style="color: rgb(244, 67, 54); font-size: 12px;">
                            {{'reset_password.error.password_not_match' | translate }}
                        </mat-label>
                    </ion-col>

                    <ion-col size="12" class="center" style="margin-top: 10px;">
                        <button class="btn-material-padding-top-bottom" mat-raised-button color="primary" (click)="changePassword()">{{'reset_password.data.btn_change' | translate }}</button>
                    </ion-col>
                    <ion-col size="12" class="center">
                        <div class="full-width center">
                            <a [routerLink]="['']" class="ForgetPwd" routerDirection="back">{{'reset_password.data.btn_back_home' | translate }}</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>