<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" fill="outline" style="color: white !important; font-size: 20px; margin-left: 15px;" (click)="dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title style="padding-right: 0px !important; padding-left: 0px;" style="color: white !important;;">{{'simcard.e_sims.instructions_ios.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-row class="ion-justify-content-center">
        <ion-col>
            <h4>{{'simcard.e_sims.instructions_ios.scan.title' | translate}}</h4>
            <ol>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.scan.step_one_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.scan.step_one_2' | translate}}</strong>
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.scan.step_two_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.scan.step_two_2' | translate}}</strong>
                        {{'simcard.e_sims.instructions_ios.scan.step_two_3' | translate}}
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.scan.step_three_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.scan.step_three_2' | translate}}</strong>
                        {{'simcard.e_sims.instructions_ios.scan.step_three_3' | translate}}
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.scan.step_four_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.scan.step_four_2' | translate}}</strong>
                        {{'simcard.e_sims.instructions_ios.scan.step_four_3' | translate}}
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.scan.step_five_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.scan.step_five_2' | translate}}</strong>
                    </h6>
                </li>
            </ol>
            <h6>{{'simcard.e_sims.instructions_ios.scan.message' | translate}}</h6>

            <div class="my-4"></div>

            <h4>{{'simcard.e_sims.instructions_ios.label_you_e_sim.title' | translate}}</h4>
            <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.sub_title' | translate}}</h6>
            <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.change_label' | translate}}</h6>
            <ol>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_one_change_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_one_change_2' | translate}}</strong>
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_two_change_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_two_change_2' | translate}}</strong>
                        {{'simcard.e_sims.instructions_ios.label_you_e_sim.step_two_change_3' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_two_change_4' | translate}}</strong>
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_three_change' | translate}}</h6>
                </li>
            </ol>
            <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.title_new_sim' | translate}}</h6>
            <ol>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_one_1_new_sim' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_one_2_new_sim' | translate}}</strong>
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.label_you_e_sim.step_two_new_sim' | translate}}
                    </h6>
                </li>
            </ol>

            <div class="ion-text-center">
                <img src="./assets/esim/iphone_esim-1.png" alt="">
            </div>

            <div class="my-4"></div>

            <h4>{{'simcard.e_sims.instructions_ios.set_up_default_number.title' | translate}}</h4>
            <ol>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.set_up_default_number.step_one_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.set_up_default_number.step_one_2' | translate}}</strong>
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.set_up_default_number.step_two_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.set_up_default_number.step_two_2' | translate}}</strong>
                    </h6>
                </li>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.set_up_default_number.step_three_1' | translate}}
                        <strong>{{'simcard.e_sims.instructions_ios.set_up_default_number.step_three_2' | translate}}</strong>
                    </h6>
                </li>
            </ol>
            <h6>{{'simcard.e_sims.instructions_ios.set_up_default_number.message_one' | translate}}</h6>
            <h6>{{'simcard.e_sims.instructions_ios.set_up_default_number.message_change' | translate}}</h6>
            <ul>
                <li>
                    <h6>{{'simcard.e_sims.instructions_ios.set_up_default_number.change_option' | translate}}</h6>
                </li>
            </ul>
            <h6>
                {{'simcard.e_sims.instructions_ios.set_up_default_number.message_two_1' | translate}}
                <strong>{{'simcard.e_sims.instructions_ios.set_up_default_number.message_two_2' | translate}}</strong>
                {{'simcard.e_sims.instructions_ios.set_up_default_number.message_two_3' | translate}}
            </h6>

            <div class="ion-text-center">
                <img src="./assets/esim/iphone_esim-2.png" alt="">
            </div>
        </ion-col>
    </ion-row>
</ion-content>
