@import '../../../global.scss';
.card-sim-size {
    width: 290px;
    max-width: 290px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.container-sim-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popover-wrapper {
    .popover-content {
        min-width: 300px !important;
        width: 300px !important;
        max-width: 300px !important;
    }
}

.title-register {
    color: white !important;
    background-color: #67B7CF !important;
    font-size: 20px !important;
    padding: 2px !important;
    border-radius: 5px !important;
}

#filter-input {
    border-radius: 5px !important;
}

.img-buy-sims {
    height: 70px !important;
}