<ion-header>
    <ion-toolbar color="secondary">

        <ion-title style="color: white !important;">Coverage areas</ion-title>
        <ion-button slot="end" fill="clear" (click)="settingsPopover($event)">
            <ion-icon style="color: white !important;" name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <img src="../../../assets/img/global.svg" height="120px" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>