<ion-content>
    <agm-map
            class="map-geotrack"
            [longitude]="lng"
            [latitude]="lat"
            [zoom]="zoom">
        <ng-container *ngFor="let device of listDevicesDisplayed">
            <agm-direction
                    *ngFor="let routeDevice of device.historicalRoutes.incomingRouteDevice"
                    [origin]="routeDevice.originPoint"
                    [destination]="routeDevice.destinationPoint"
                    [waypoints]="routeDevice.wayPoints"
            >
            </agm-direction>
        </ng-container>
    </agm-map>

    <mat-card class="card-options-place">
        <button (click)="openDialogFilterRoute()" class="m-0 p-0" color="primary">
            <mat-icon>directions</mat-icon>
        </button>
    </mat-card>
</ion-content>

