<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" fill="outline" style="color: white !important; font-size: 30px; margin-left: 20px;" (click)="dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title style="padding-right: 0px !important; padding-left: 0px;" style="color: white !important;;">{{'simcard.data.real_sim.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" style="text-align: center;margin-bottom: 20px; margin-top: 10px;">
                {{'simcard.data.real_sim.text' | translate}}
            </ion-col>
            <ion-col size="12" style="text-align: center !important;">
                <img src="../../../../assets/img/image1.png" style="width: 250px;" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>