<ion-header>
    <ion-toolbar color="tertiary">
        <ion-button slot="start" fill="clear" style="z-index: 100;" (click)="goToHome()">
            <ion-icon style="color: white !important;" name="home"></ion-icon>
        </ion-button>
        <ion-title style="color: white !important;">{{'simcard.data.title' | translate}}</ion-title>
        <ion-button slot="end" fill="clear" (click)="settingsPopover($event)">
            <ion-icon style="color: white !important;" name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="6" style="text-align: center !important;">
                <ion-card style="background-color: white !important; text-align: center;">
                    <ion-card-header style="padding-bottom: 5px !important;">
                        <ion-card-title class="title-register" style="font-size: 16px !important;">{{'simcard.data.order' | translate}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <img src="../../../assets/img/buy.png" class="img-buy-sims" alt="">
                                </ion-col>
                                <ion-col size="12" style="display: flex; align-items: center; justify-content: center;">
                                    <ion-button color="primary" style="width: 100% !important; " (click)="openModalBuySims()">
                                        <ion-icon name="cash" style="margin-right: 10px;"></ion-icon>
                                        {{'simcard.data.btn_order' | translate}}
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6" style="text-align: center !important;">
                <ion-card style="background-color: white !important; text-align: center;">
                    <ion-card-header style="padding-bottom: 5px !important;">
                        <ion-card-title class="title-register" style="font-size: 16px !important;">{{'simcard.data.see_packages' | translate}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <img src="../../../assets/img/explore.png" class="img-buy-sims" alt="">
                                </ion-col>
                                <ion-col size="12" style="display: flex; align-items: center; justify-content: center;">
                                    <ion-button color="primary" style="width: 100% !important; " (click)="goToPackages()">
                                        <ion-icon name="search-outline" style="margin-right: 10px;"></ion-icon>
                                        {{'simcard.data.btn_see' | translate}}
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" style="text-align: center !important;">
                <ion-card style="background-color: white !important; text-align: center;">
                    <ion-card-header>
                        <ion-card-title class="title-register" style="font-size: 16px !important;">{{'simcard.data.register_by' | translate}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row class="ion-justify-content-center">
                            <ion-col size="12" class="center">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size="5" style="display: flex; align-items: center; justify-content: center;">
                                            <ion-button color="primary" style="text-transform: none;" class="full-width" (click)="openModalImportICCID()">
                                                <ion-icon name="log-in" style="margin-right: 10px;"></ion-icon>
                                                ICCID
                                            </ion-button>
                                        </ion-col>
                                        <ion-col size="7" style="display: flex; align-items: center; justify-content: flex-start; text-align: left;">
                                            <ion-label>{{'simcard.data.example_iccid' | translate}}</ion-label>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                            <ion-col size="12" class="center" style="display: flex; justify-content: center; text-align: center; align-items: center !important;">
                                <div class="separator-horizontal"></div>
                                {{'simcard.data.or' | translate}}
                                <div class="separator-horizontal"></div>
                            </ion-col>
                            <ion-col size="12" class="center">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size="5" style="display: flex; align-items: center; justify-content: center;">
                                            <ion-button color="primary" style="text-transform: none;" class="full-width" (click)="openModalImportONUM()">
                                                <ion-icon name="log-in" style="margin-right: 10px;"></ion-icon>
                                                {{'simcard.data.btn_onum' | translate}}
                                            </ion-button>
                                        </ion-col>
                                        <ion-col size="7" style="display: flex; align-items: center; justify-content: flex-start; text-align: left;">
                                            <ion-label>{{'simcard.data.example_onum' | translate}}</ion-label>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row class="justify-content: space-between">
            <ion-col size="12" style="text-align: center !important;margin-top: 5px;">
                <ion-label color="primary" style="font-size: 18px; font-weight: bold; text-align: center ;">{{'simcard.data.my_sims' | translate}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="justify-content-between">
            <ion-col size="8" id="filter-input" style="display: flex; align-items: center;">
                <!-- Inputs with labels -->
                <ion-item style="margin-left: 10px; width: 80%;">
                    <ion-icon name="search"></ion-icon>
                    <ion-input #inputFilter (keyup)="applyFilter($event.target.value)" placeholder="{{'simcard.data.ph_search' | translate}}" type="text" onkeydown="javascript: return event.keyCode == 187 || event.keyCode == 189 ? false : true"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="4" style="text-align: right !important; display: flex; align-items: center; justify-content: flex-end;">
                <ion-button color="primary" (click)="openModalSeeRealSim()" fill="clear" style="padding: 0px !important; text-align: right !important;">
                    <ion-icon style=" font-size: 30px;" name="information-circle-outline"></ion-icon>
                </ion-button>
                <ion-button color="success" class="icon-option" (click)="rechargeContent(inputFilter)" fill="clear" style="padding: 0px !important; text-align: right !important;">
                    <ion-icon style=" font-size: 30px;" name="refresh"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="center container-sim-cards">
                    <ion-card *ngFor="let item of simsList " class="card-sim-size" [ngStyle]="{'background-color':item.status == 2 ? '#FFFFEC' : '#ffffff' }" (click)="openModalSettings(item.id, item.endpoint.id, item.iccid, item.status, item.emnify_account.id)">
                        <ion-card-header>
                            <ion-card-title class="title-register"></ion-card-title>
                            <ion-card-subtitle style="font-size: 14px !important;"><strong style="color: black !important; ">ICCID:</strong> {{item.iccid}}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="4">
                                        <img src="../../../assets/img/simcard.svg" height="70px" style="margin-top: 0px;" alt="">
                                    </ion-col>
                                    <ion-col size="8">
                                        <ion-grid style="padding: 0px !important;">
                                            <ion-row>
                                                <ion-col size="12" class="center" style="padding: 0px !important;">
                                                    <ion-label *ngIf="item.status == '0'" color="success"><strong>{{'simcard.data.registered' | translate}}</strong></ion-label>
                                                    <ion-label *ngIf="item.status == '1'" color="primary"><strong>{{'simcard.data.activated' | translate}}</strong></ion-label>
                                                    <ion-label *ngIf="item.status == '2'" color="warning"><strong>{{'simcard.data.suspended' | translate}}</strong></ion-label>
                                                    <ion-label *ngIf="item.status == '4'" color="danger"><strong>SUSCRIPCIÓN EXPIRADA</strong></ion-label>
                                                </ion-col>
                                                <ion-col size="12" style="text-align: left !important; font-size: 12px;">
                                                    <strong style="color: black !important;">MSISDN:</strong>{{item.msisdn}}
                                                </ion-col>
                                                <ion-col size="12" style="text-align: left !important; font-size: 12px;">
                                                    <strong style="color: black !important;">IMSI:</strong>{{item.imsi}}
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-col>
                                    <ion-col size="12">
                                        <strong style="color: black !important; font-size: 12px;">ENDPOINT:</strong>
                                        <ion-label style="color: black !important; font-size: 12px;">{{item.endpoint?.name}}</ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                    <h5 *ngIf="ionInfiniteScroll?.disabled && simsList.length === 0 && !this.nextPage" class="color-red">
                        {{'loading.has_no_sims' | translate}}
                    </h5>
                    <ion-infinite-scroll threshold="30px" (ionInfinite)="loadMoreData($event)">
                        <div>
                            <ion-spinner color="primary"></ion-spinner>
                        </div>
                        {{'loading.loading_more_sims' | translate}}
                    </ion-infinite-scroll>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
