<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" fill="outline" style="color: white !important; font-size: 20px; margin-left: 15px;" (click)="dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title style="padding-right: 0px !important; padding-left: 0px;" style="color: white !important;;">{{'simcard.data.import_iccid.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="center">
                <img src="../../../../assets/img/import (1).svg" height="100px" alt="">
            </ion-col>
            <ion-col size="11" style="text-align: justify;">
                {{'simcard.data.import_iccid.p1' | translate}} <strong style="color: #2E2681 !important">ICCID</strong>{{'simcard.data.import_iccid.p2' | translate}}
            </ion-col>
            <ion-col size="11" style="text-align: center !important;">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{'simcard.data.import_iccid.iccid_code' | translate}}</mat-label>
                    <input matInput [formControl]="iccid" type="text" required>
                    <mat-error *ngIf="iccid.invalid">{{getErrorMessageCode()}}</mat-error>
                </mat-form-field>
            </ion-col>
            <ion-col size="11" style="text-align: justify;">
                {{'simcard.data.import_iccid.p3' | translate}} <strong style="color: #2E2681 !important">{{'simcard.data.import_iccid.service_account' | translate}}</strong>{{'simcard.data.import_iccid.p4' | translate}}
            </ion-col>
            <ion-col size="11" style="text-align: justify;">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{'simcard.data.import_iccid.service_account' | translate}}</mat-label>
                    <mat-select [formControl]="accountSelected">
                        <mat-option *ngFor="let item of serviceAccountsList" [value]="item">
                            {{item.alias}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="accountSelected.invalid">{{getErrorMessageAccount()}}</mat-error>
                </mat-form-field>
            </ion-col>
            <ion-col size="12" style="text-align: center;">
                <ion-button style="text-transform: none; font-size: 16px !important;" (click)="import()">
                    {{'simcard.data.import_iccid.btn_register' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
