<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" fill="outline" style="color: white !important; font-size: 20px; margin-left: 15px;" (click)="dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title style="color: white !important;">{{'payments.see.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="display: flex; justify-content: center;">
                <ion-card class="card-payment" style="text-align: center; background-color: white;">
                    <img *ngIf="data.id_stripe_transaction != null" src="../../../../assets/img/stripe.png" style="margin-bottom: 10px;" alt="">
                    <img *ngIf="data.id_pay_pal_transaction != null" src="../../../../assets/img/paypal.jpg" style="margin-bottom: 10px;" alt="">
                    <img *ngIf="data.transaction.name == 'Order Sim Sets'" src="../../../../assets/img/shipping-and-delivery.svg" style="margin-top: 10px;margin-bottom: 10px; height: 113px !important;" alt="">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="text-align: left !important; color: black;">
                                <strong>{{'payments.see.pay_id' | translate}}</strong>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;" class="contenido">
                                <ion-label *ngIf="data.id_stripe_transaction != null" class="contenido">{{this.data.id_stripe_transaction}}</ion-label>
                                <ion-label *ngIf="data.id_pay_pal_transaction != null" class="contenido">{{data.id_pay_pal_transaction}}</ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;">
                                <ion-label color="primary"><strong>{{'payments.see.date' | translate}}</strong></ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;">
                                <ion-label>{{data.date_generated | date:'long'}}</ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;">
                                <ion-label color="primary"><strong>{{'payments.see.cost' | translate}}</strong></ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;">
                                <ion-label>{{data.value}}.00</ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;">
                                <ion-label color="primary"><strong>{{'payments.see.currency' | translate}}</strong></ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: left !important;">
                                <ion-label>{{data.currency}}</ion-label>
                            </ion-col>
                            <ion-col *ngIf="data.id_stripe_transaction != null" size="12" style="text-align: left !important;">
                                <ion-button expand="block" color="success" (click)="downloadStripe()">
                                    <ion-icon style="margin-right: 10px;" name="document"></ion-icon>
                                    {{'payments.see.see_invoice' | translate}}
                                </ion-button>
                            </ion-col>

                            <ion-col *ngIf="data.id_pay_pal_transaction != null" size="12" style="text-align: left !important;">
                                <ion-button expand="full" color="success" (click)="downloadPaypal()">
                                    {{'payments.see.go_paypal' | translate}}
                                    <ion-icon style="margin-left: 10px;" name="arrow-round-forward"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col *ngIf="data.id_pay_pal_transaction != null" size="12" style="text-align: left !important;">
                                <ion-label color="warning"><strong>{{'payments.see.note' | translate}}</strong></ion-label>
                                <ion-label>{{'payments.see.p1' | translate}}</ion-label>
                            </ion-col>
                            <ion-col *ngIf="data.simcardset ! null" size="12" style="text-align: left !important;">
                                <ion-label *ngIf="data.simcardset.name" color="primary"><strong>{{'payments.see.sim_package' | translate}}</strong></ion-label>
                            </ion-col>
                            <ion-col *ngIf="data.simcardset ! null" size="12" style="text-align: left !important;">
                                <ion-label *ngIf="data.simcardset.name">{{data.simcardset.name}}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>