@import '../../../global.scss';
.card-money {
    width: 300px;
    max-width: 300px;
    background-color: white;
}

.break-word {
    -ms-word-break: break-all;
    word-break: break-all;
    // Non standard for webkit
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.but-option-pay {
    width: 100%;
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.title-card-sim-details {
    margin-bottom: 0px !important;
    color: white !important;
    background-color: #67B7CF !important;
    font-size: 15px !important;
    padding: 2px !important;
    border-radius: 5px !important;
}

.img-option-pay {
    border-radius: 5px !important;
}