<ion-header>
    <ion-toolbar color="tertiary">
        <ion-button slot="start" fill="clear" style="z-index: 100;" (click)="goToHome()">
            <ion-icon style="color: white !important;" name="home"></ion-icon>
        </ion-button>
        <ion-title style="color: white !important;">{{'payments.principal.title' | translate}}</ion-title>
        <ion-button slot="end" fill="clear" (click)="settingsPopover($event)">
            <ion-icon style="color: white !important;" name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" style="text-align: center; display: flex; justify-content: center;">
                <ion-card *ngIf="user != null" class="card-money">

                    <ion-card-header>
                        <div class="title-card-sim-details"><strong>{{'payments.principal.my_account' | translate}}</strong></div>
                        <ion-card-title class="contenido" style="font-size: 22px !important; font-weight: normal !important; margin-top: 5px; margin-bottom: 5px;">{{user.first_name}} {{user.last_name}}</ion-card-title>
                        <ion-card-subtitle style="margin-bottom: 10px;">{{user.email}}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-label color="primary"><strong>USD: </strong></ion-label>
                        <ion-label style="margin-right: 30px;"><strong>{{user.balance_usd}}</strong></ion-label>
                        <ion-label color="success"><strong>EUR: </strong></ion-label>
                        <ion-label><strong>{{user.balance_eur}}</strong></ion-label>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row style="border-radius: 5px; ">
            <ion-col size="12">
                <ion-card style="padding: 0px !important; background-color: white;">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <ion-label color="primary">
                                    <div class="title-card-sim-details"><strong>{{'payments.principal.recharge' | translate}}</strong></div>
                                </ion-label>
                            </ion-col>
                            <ion-col size="6" style="text-align: center;">
                                <img src="../../../assets/img/paypal.jpg" class="img-option-pay" alt="">
                                <ion-button class="break-word but-option-pay" color="primary" (click)="goToPayPal()">{{'payments.principal.btn_pay' | translate}}</ion-button>
                            </ion-col>
                            <ion-col size="6" style="text-align: center;">
                                <img src="../../../assets/img/stripe.png" class="img-option-pay" alt="">
                                <ion-button class="break-word but-option-pay" color="success" (click)="goToStripe()">{{'payments.principal.btn_pay' | translate}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card style="padding: 0px !important; background-color: white;">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <ion-label color="primary">
                                    <div class="title-card-sim-details"><strong>{{'payments.principal.my_payments' | translate}}</strong></div>
                                </ion-label>
                            </ion-col>
                            <ion-col size="12" *ngIf="existPayments == 1" style="text-align: center;">
                                <img src="../../../assets/img/ghost.svg" height="80px" alt="">
                            </ion-col>
                            <ion-col size="12" *ngIf="existPayments == 1" style="text-align: center;">
                                <ion-label>{{'payments.principal.no_payments' | translate}}</ion-label>
                            </ion-col>
                            <ion-col size="12" *ngIf="existPayments == 2" style="padding-top: 0px;">
                                <ion-list style="border-radius: 5px; padding-top: 0px;">
                                    <ion-item detail *ngFor="let item of paymentsList" style="padding-left: 0px !important;" (click)="goToDetails(item)">
                                        <ion-avatar slot="start" style="height: 30px !important; width: 30px !important;">
                                            <img *ngIf="item.id_stripe_transaction != null" src="../../../assets/img/stripe.svg" height="20px" style="height: 30px !important; width: 30px !important;">
                                            <img *ngIf="item.id_pay_pal_transaction != null" src="../../../assets/img/paypal.svg" height="20px" style="height: 30px !important; width: 30px !important;">
                                            <img *ngIf="item.transaction.name == 'Order Sim Sets'" src="../../../assets/img/shipping-and-delivery.svg" height="20px" style="height: 30px !important; width: 30px !important;" alt="">
                                        </ion-avatar>
                                        <ion-label>
                                            <h2 *ngIf="item.id_stripe_transaction != null || item.id_pay_pal_transaction != null"><strong><ion-label color="success">+{{item.value}} {{item.currency}}</ion-label></strong></h2>
                                            <h2 *ngIf="item.transaction.name == 'Order Sim Sets'"><strong><ion-label color="danger">-{{item.value}} {{item.currency}}</ion-label></strong></h2>
                                            <h3>{{item.date_generated | date}}</h3>
                                            <p *ngIf="item.id_stripe_transaction != null">{{item.id_stripe_transaction}}</p>
                                            <p *ngIf="item.id_pay_pal_transaction != null">{{item.id_pay_pal_transaction}}</p>
                                            <p *ngIf="item.transaction.name == 'Order Sim Sets'">{{item.id}}{{item.transaction.id}}{{item.transaction.transaction_type}}</p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
