<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" fill="outline" style="color: white !important; font-size: 20px; margin-left: 15px;" (click)="dismiss()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <ion-title style="color: white !important;">{{'itinerary.edit.title' | translate}} {{this.data.id}}</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row *ngIf="!preload_data">
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.destiny' | translate}}</ion-label>
                    <ion-input *ngIf="currentLang == 'es'" value="{{data.destination.nombre}}" readonly></ion-input>
                    <ion-input *ngIf="currentLang != 'es'" value="{{data.destination.name}}" readonly></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.start_date' | translate}}</ion-label>
                    <ion-datetime displayFormat="DD MMMM YYYY" [formControl]="startDate" placeholder="Select Date" [min]="minDayToPlanning" [max]="maxDayToPlanning" readonly></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.sim' | translate}}</ion-label>
                    <ion-input [formControl]="simcard" readonly></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.package' | translate}}</ion-label>
                    <ion-input value="{{packageselected.package_name}}" readonly></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.cost' | translate}}</ion-label>
                    <ion-input *ngIf="data.sim_card.account_top_connect.alias == 'USD'" value="{{packageselected.activation_fee_usd}} {{data.sim_card.account_top_connect.alias}}" readonly></ion-input>
                    <ion-input *ngIf="data.sim_card.account_top_connect.alias == 'EUR'" value="{{packageselected.activation_fee_eur}} {{data.sim_card.account_top_connect.alias}}" readonly></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.status' | translate}}</ion-label>
                    <ion-input *ngIf="data.status == '3'" value="{{'itinerary.edit.activated' | translate}}" readonly></ion-input>
                    <ion-input *ngIf="data.status == '1'" value="{{'itinerary.edit.programmed' | translate}}" readonly></ion-input>
                </ion-item>
            </ion-col>

            <ion-col *ngIf="this.data.status == '1'" size="12">
                {{'itinerary.edit.p1' | translate}}
            </ion-col>
            <ion-col *ngIf="this.data.status == '1'" size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label position="floating">{{'itinerary.edit.new_start_date' | translate}}</ion-label>
                    <ion-datetime displayFormat="DD MMMM YYYY" [formControl]="newDate" placeholder="{{'itinerary.edit.new_start_date_ph' | translate}}" [min]="minDayToPlanning" [max]="maxDayToPlanning"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col *ngIf="this.data.status == '1'" size="12" style="text-align: center;">
                <ion-button class="full-width" (click)="save()">
                    <ion-icon name="save"></ion-icon>
                    {{'itinerary.edit.save' | translate}}
                </ion-button>
            </ion-col>

            <ion-col *ngIf="this.data.status == '1'" size="12" style="text-align: center;">
                <ion-button color="danger" class="full-width" (click)="cancel()">
                    <ion-icon name="close"></ion-icon>
                    {{'itinerary.edit.cancel' | translate}}
                </ion-button>
            </ion-col>
            <ion-col size="12" style="font-size: 12px;">
                <ion-label color="warning"><strong co>Note: </strong>
                    <ion-label style="color:black !important">
                        {{'itinerary.edit.p2' | translate}}</ion-label>
                </ion-label>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>