<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="simcards">
            <mat-icon>sim_card</mat-icon>
            <ion-label>{{'home.sims' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="transacitions">
            <mat-icon>credit_card</mat-icon>
            <ion-label>{{'home.payment' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="zones">
            <mat-icon>public</mat-icon>
            <ion-label>{{'home.zones' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="itinerary">
            <mat-icon>local_airport</mat-icon>
            <ion-label>{{'home.itinerary' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <mat-icon>account_circle</mat-icon>
            <ion-label>{{'home.profile' | translate}}</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>