<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="simcards">
            <ion-icon src="assets/tabs/sim-card.svg" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'home.sims' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="transacitions">
            <ion-icon name="card-outline" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'home.payment' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="zones">
            <ion-icon name="earth-outline" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'home.zones' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="itinerary-voyager">
            <ion-icon name="airplane-outline" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'home.itinerary' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-outline" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'home.profile' | translate}}</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
