<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="simcards">
            <img src="./assets/icons/sim.png" style="max-width: 25px !important; max-height: 25px !important;">
            <h6>{{'home.sims' | translate}}</h6>
        </ion-tab-button>

        <ion-tab-button tab="transacitions">
            <img src="./assets/icons/credit-cards-payment.png" style="max-width: 25px !important; max-height: 25px !important;">
            <h6>{{'home.payment' | translate}}</h6>
        </ion-tab-button>

        <ion-tab-button tab="zones">
            <img src="./assets/icons/map.png" style="max-width: 25px !important; max-height: 25px !important;">
            <h6>{{'home.zones' | translate}}</h6>
        </ion-tab-button>

        <ion-tab-button tab="itinerary-voyager">
            <img src="./assets/icons/planet-airplane.png" style="max-width: 25px !important; max-height: 25px !important;">
            <h6>{{'home.itinerary' | translate}}</h6>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <img src="./assets/icons/group.png" style="max-width: 25px !important; max-height: 25px !important;">
            <h6>{{'home.profile' | translate}}</h6>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
