@import '../../../../global.scss';
.card-package-selected {
    width: 300px;
    max-width: 300px;
    background-color: white !important;
}

.title-card-sim-details-2 {
    margin-bottom: 5px !important;
    color: white !important;
    background-color: #10dc60 !important;
    font-size: 15px !important;
    padding: 2px !important;
    border-radius: 5px !important;
}

.title-card-sim-details {
    margin-bottom: 5px !important;
    color: white !important;
    background-color: #67B7CF !important;
    font-size: 15px !important;
    padding: 2px !important;
    border-radius: 5px !important;
}

.panel-header {
    background-color: #2E2681 !important;
    height: 40px !important;
    max-height: 40px !important;
}

.title-panel {
    font-size: 14px;
    font-weight: bold;
    color: white !important;
}

.field-padding {
    .mat-form-field-infix {
        width: 100%;
    }
}
