<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" fill="outline" style="color: white !important; font-size: 20px; margin-left: 15px;"
                     (click)="dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title style="color: white !important;">{{'itinerary.create.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background-all"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <img src="../../../assets/img/travel.svg" height="120px" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
<!--            <ion-col size="12">-->
<!--                <ion-item style="border-radius: 5px;">-->
<!--                    <ion-label>{{'itinerary.create.destiny' | translate}}</ion-label>-->
<!--                    <ion-select *ngIf="currentLang == 'es'" placeholder="{{'itinerary.create.destiny_ph' | translate}}"-->
<!--                                [formControl]="country" interface="action-sheet" id="country">-->
<!--                        <ion-select-option *ngFor="let item of countriesList"-->
<!--                                           [value]="item">{{item.nombre}}</ion-select-option>-->
<!--                    </ion-select>-->
<!--                    <ion-select *ngIf="currentLang != 'es'" placeholder="{{'itinerary.create.destiny_ph' | translate}}"-->
<!--                                [formControl]="country" interface="action-sheet" id="country">-->
<!--                        <ion-select-option *ngFor="let item of countriesList"-->
<!--                                           [value]="item">{{item.name}}</ion-select-option>-->
<!--                    </ion-select>-->
<!--                </ion-item>-->
<!--            </ion-col>-->
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label style="max-width: 6em">{{'simcard.data.buy_sims.country' | translate}}</ion-label>
                    <mat-form-field class="background-white field-padding">
                        <input type="text"
                               aria-label="Number"
                               matInput
                               placeholder="{{'simcard.data.country_name' | translate}}"
                               (ngModelChange)="changeCountryAutocomplete()"
                               [formControl]="country"
                               [matAutocomplete]="autoCountry">
                        <!--                    <mat-error>{{getErrorMessageCompany()}}</mat-error>-->
                        <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete">
                            <mat-option *ngFor="let option of countriesList" (onSelectionChange)="onSelectOption(option)"
                                        [value]="getCountryName(option)">
                                <span>{{getCountryName(option)}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ion-item>
                <mat-error class="ion-text-center" *ngIf="country.touched && !lastCountrySelected">
                    {{'simcard.data.buy_sims.select_country' | translate}}
                </mat-error>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label>{{'itinerary.create.start_date' | translate}}</ion-label>
                    <ion-datetime displayFormat="DD MMMM YYYY" [formControl]="startDate"
                                  placeholder="{{'itinerary.create.start_date_ph' | translate}}"
                                  [min]="minDayToPlanning" [max]="maxDayToPlanning"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item style="border-radius: 5px;">
                    <ion-label style="max-width: 5em; margin-right: 0;">{{'itinerary.create.sim' | translate}}</ion-label>
                    <mat-form-field class="background-white field-padding">
                        <input type="text"
                               aria-label="Number"
                               matInput
                               placeholder="{{'simcard.data.ph_search' | translate}}"
                               (ngModelChange)="changeSimsAutocomplete()"
                               [formControl]="simcard"
                               [matAutocomplete]="autoSim">
                        <!--                    <mat-error>{{getErrorMessageCompany()}}</mat-error>-->
                        <mat-autocomplete autoActiveFirstOption #autoSim="matAutocomplete">
                            <mat-option *ngFor="let option of simsList" (onSelectionChange)="onSelectOptionSimCard(option)"
                                        [value]="option.iccid">
                                <span class="span-iccid-autocomplete">{{option.iccid}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ion-item>
                <mat-error class="ion-text-center" *ngIf="simcard.touched && !lastSimSelected">
                    {{'itinerary.error.select_sim' | translate}}
                </mat-error>
            </ion-col>
            <!--            <ion-col size="12">-->
            <!--                <ion-item style="border-radius: 5px;">-->
            <!--                    <ion-label>{{'itinerary.create.sim' | translate}}</ion-label>-->
            <!--                    <ion-select placeholder="{{'itinerary.create.sim_ph' | translate}}" [formControl]="simcard" interface="action-sheet">-->
            <!--                        <ion-select-option *ngFor="let item of simsList " [value]="item">{{item.iccid}}</ion-select-option>-->
            <!--                    </ion-select>-->
            <!--                </ion-item>-->
            <!--            </ion-col>-->
            <ion-col size="12" style="text-align: center;">
                <ion-button color="warning" (click)="searchPackages()"
                            [disabled]="!(lastCountrySelected && startDate.valid && lastSimSelected)">
                    <mat-icon>search</mat-icon>
                    {{'itinerary.create.btn_search_package' | translate}}</ion-button>
            </ion-col>

            <ion-col size="12" class="ion-text-center mt-3" *ngIf="preloadPackages">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="existsPackages == 1">
            <ion-col size="12" style="text-align: center;">
                <img src="../../../assets/img/ghost.svg" height="80px" alt="">
            </ion-col>
            <ion-col size="12" style="text-align: center;">
                <ion-label color="primary">No packages available</ion-label>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="existsPackages == 2">
            <ion-col size="12">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="expanded" (opened)="openPanelPackages()">
                        <mat-expansion-panel-header class="panel-header">
                            <mat-panel-title>
                                <label class="title-panel">{{'itinerary.create.available_packages' | translate}}</label>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="container-cards">
                            <ion-card *ngFor="let item of avaiablePackages; let i = index" class="card-package">
                                <ion-card-header>
                                    <ion-card-title *ngIf="i > 0" class="center title-card-sim-details">
                                        <strong>{{'itinerary.create.package_code' | translate}}{{item.id}}</strong>
                                    </ion-card-title>
                                    <ion-card-title *ngIf="i == 0" class="center title-card-sim-details-2">
                                        <strong>{{'itinerary.create.recommended_package' | translate}}{{item.id}}</strong>
                                    </ion-card-title>
                                </ion-card-header>
                                <ion-card-content>
                                    <ion-grid>
                                        <ion-row class="ion-justify-content-center">
                                            <ion-col size="12"
                                                     style="text-align: center !important; font-size: 18px; font-weight: bold;">
                                                <ion-label color="primary"><strong>{{item.package_name}}</strong>
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="12"
                                                     style="text-align: center !important; font-size: 18px; font-weight: bold;">
                                                <ion-label color="success">
                                                    <strong>{{'itinerary.create.cost' | translate}}</strong></ion-label>
                                                <ion-label
                                                        *ngIf="this.lastSimSelected?.account_top_connect?.alias == 'USD'">{{item?.activation_fee_usd}} {{this.lastSimSelected?.account_top_connect?.alias}}</ion-label>
                                                <ion-label
                                                        *ngIf="this.lastSimSelected?.account_top_connect?.alias == 'EUR'">{{item?.activation_fee_eur}} {{this.lastSimSelected?.account_top_connect?.alias}}</ion-label>
                                            </ion-col>
                                            <ion-col size="12"
                                                     style="text-align: center !important; font-size: 18px; font-weight: bold;">
                                                <ion-item (click)="selectPackage(item.package_code)">
                                                    <ion-label>{{'itinerary.create.select_this' | translate}}</ion-label>
                                                    <ion-toggle slot="start" color="success" mode="ios"
                                                                [checked]="item.selected"
                                                                [disabled]="item.selected == true"></ion-toggle>
                                                </ion-item>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </ion-col>
            <ion-col *ngIf="packageselected != null" size="12"
                     style="text-align: center; display: flex; justify-content: center;">
                <ion-card class="card-package-selected">
                    <ion-card-header>
                        <ion-card-title class="center title-card-sim-details">
                            <strong>{{'itinerary.create.package_selected' | translate}}</strong></ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row class="ion-justify-content-center">
                                <ion-col size="12"
                                         style="text-align: center !important; font-size: 18px; font-weight: bold;">
                                    <ion-label color="primary"><strong>{{packageselected.package_name}}</strong>
                                    </ion-label>
                                </ion-col>
                                <ion-col size="12"
                                         style="text-align: center !important; font-size: 18px; font-weight: bold;">
                                    <ion-label color="success"><strong>{{'itinerary.create.cost' | translate}}</strong>
                                    </ion-label>
                                    <ion-label
                                            *ngIf="this.lastSimSelected?.account_top_connect?.alias == 'USD'">{{packageselected?.activation_fee_usd}} {{this.lastSimSelected.account_top_connect.alias}}</ion-label>
                                    <ion-label
                                            *ngIf="this.lastSimSelected?.account_top_connect?.alias == 'EUR'">{{packageselected?.activation_fee_eur}} {{this.lastSimSelected.account_top_connect.alias}}</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col *ngIf="packageselected != null" size="12" style="text-align: center;">
                <ion-button (click)="create()">
                    <ion-icon name="add-circle-outline"></ion-icon>
                    {{'itinerary.create.btn_create' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
