
ion-item ion-label {
  color: blue;
}

.button-courier {
  width: 10em !important;
  height: 2.5em !important;
  --background: #397b7b;
}

.button-courier-page {
  --background: white;
  color: #4343df;
  border-radius: 10px;
  --background-activated: white;
}
