<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="store">
            <ion-icon src="assets/tabs/store.svg" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'shop.shop_t' | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="shop-cart">
            <ion-icon src="assets/tabs/cart.svg" style="max-width: 25px !important; max-height: 25px !important;"></ion-icon>
            <ion-label>{{'shop.shop_cart' | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="orders">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>{{'shop.orders' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>

