@import '../../../global.scss';
.swiper-slide {
    display: block;
}

.full-height {
    height: 100vh !important;
}

.container-slide {
    height: 100% !important;
    //display: flex !important;
    //justify-content: center !important;
    //align-items: center !important;
    background-color: #08014C;
}

.horizontal-vertical-align {
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.image-1 {
    height: 180px !important;
}

.image-logo {
    height: 70px !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.title-two-right {
    padding-top: 0.5em !important;
}

.icon-row-down {
    color: white !important;
    zoom: 1.3 !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.icon-row-down-steps {
    color: white !important;
    zoom: 1.3 !important;
}

.text-steps {
    font-weight: bold;
    padding-top: 0.3em !important;
}

.row-bottom {
    display: flex;
    justify-content: center;
}

.div-icon {
    background-color: white;
    margin: 1em auto 1em auto;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-one-icon-right {
    background-color: white;
    margin: 1.4em auto 1em auto;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon {
    height: 40px !important;
}

.title-text {
    font-size: 14px !important;
    margin-bottom: 0.5em !important;
    margin-top: 0 !important;
    font-weight: lighter !important;
}

.sub-title-text {
    font-size: 10px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    //line-height: em !important;
}

.image-head {
    height: 40px !important;
    position: fixed;
    bottom: 10px;
    right: 0;
}

.image-2 {
    height: 130px !important;
}

.image-3 {
    height: 70px !important;
}

.arrow-right {
    color: white !important;
    font-size: 25px !important;
}

.circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.circulo-red {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f12345;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.container-points {
    position: fixed;
    width: 100% !important;
    bottom: 20px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    height: 100% !important;
    align-items: flex-end !important;
}
