<ion-header translucent>
</ion-header>
<ion-content>
    <ion-slides *ngIf="show" class="full-height full-width" [options]="slideOpts">
        <ion-slide>
            <ion-grid class="container-slide" style="overflow-y: auto">
                <ion-row>
                    <ion-col size="12" style="text-align: center;">
                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <img src="../../../assets/Logo/BANNER.png" class="image-logo" alt="">
                            </ion-col>
                            <ion-row>
                                <ion-col size="6" style="text-align: center !important;">
                                    <h5 class="title-text" style="text-align: center !important; color: white">{{'slides.title_one_left' | translate}}</h5>
                                    <h6 class="sub-title-text" style="text-align: center !important; color: white">{{'slides.response_one_left' | translate}}</h6>
                                    <div class="div-icon">
                                        <img class="img-icon" alt="sim" src="./assets/icons/sim.png">
                                    </div>
                                    <h6 class="sub-title-text" style="text-align: center !important; color: white">{{'slides.message_one_left' | translate}}</h6>
                                    <ion-icon class="icon-row-down" name="chevron-down-outline"></ion-icon>
                                    <h5 class="title-text" style="text-align: center !important; color: white">{{'slides.title_two_left' | translate}}</h5>
                                    <div class="div-icon">
                                        <img class="img-icon" alt="sim" src="./assets/icons/world.png">
                                    </div>
                                    <h6 class="sub-title-text" style="text-align: center !important; color: white">{{'slides.message_two_left' | translate}}</h6>
                                </ion-col>
                                <ion-col size="6" style="text-align: center !important;">
                                    <h5 class="title-text title-two-right" style="text-align: center !important; color: white">{{'slides.title_one_right' | translate}}</h5>
                                    <div class="div-one-icon-right">
                                        <img class="img-icon" alt="sim" src="./assets/icons/planet-airplane.png">
                                    </div>
                                    <h6 class="sub-title-text" style="text-align: center !important; color: white">
                                        {{'slides.message_one_right' | translate}}
                                    </h6>
                                    <ion-icon class="icon-row-down" name="chevron-down-outline"></ion-icon>
                                    <h5 class="title-text" style="text-align: center !important; color: white">{{'slides.title_two_right' | translate}}</h5>
                                    <div class="div-icon">
                                        <img class="img-icon" alt="sim" src="./assets/icons/number-one.png">
                                    </div>
                                    <h6 class="sub-title-text" style="text-align: center !important; color: white">
                                        {{'slides.message_two_right' | translate}}
                                    </h6>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-bottom">
                                <ion-col size="6">
                                    <ion-icon class="icon-row-down-steps" name="chevron-down-outline"></ion-icon>
                                    <h5 class="title-text" style="text-align: center !important; color: white">{{'slides.title_bottom' | translate}}</h5>
                                    <h6 class="sub-title-text" style="text-align: center !important; color: white">{{'slides.sub_title_bottom' | translate}}</h6>
                                    <div style="height: .5em"></div>
                                    <h6 class="sub-title-text text-steps" style="text-align: center !important; color: white">{{'slides.step_one' | translate}}</h6>
                                    <h6 class="sub-title-text text-steps" style="text-align: center !important; color: white">{{'slides.step_two' | translate}}</h6>
                                    <h6 class="sub-title-text text-steps" style="text-align: center !important; color: white">{{'slides.step_three' | translate}}</h6>
                                    <h6 class="sub-title-text text-steps" style="text-align: center !important; color: white">{{'slides.step_four' | translate}}</h6>
                                    <h6 class="sub-title-text text-steps" style="text-align: center !important; color: white">{{'slides.step_five' | translate}}</h6>
                                </ion-col>
                            </ion-row>
                            <div class="center"></div>
                            <img src="../../../assets/img/swipe.png" class="image-head" alt="">
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid class="container-slide" style="z-index: 19999999999 !important;">
                <ion-row class="horizontal-vertical-align">
                    <ion-col size="12" style="text-align: center; margin-bottom: 10px;">
                        <img src="../../../assets/img/rocket.svg" style="margin-bottom: 20px;" class="image-1" alt="">
                        <div class="full-width" style="margin-bottom: 20px; color: white !important">
                            {{'slides.p10' | translate}}
                        </div>
                        <ion-button color="danger" expand="block" (click)="goToHome()" style="margin-top: 10px; z-index: 1999999999999999999 !important;">
                            {{'slides.btn_go' | translate}}
                            <ion-icon slot="end" name="arrow-forward"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
