@import '../../../global.scss';
.swiper-slide {
    display: block;
}

.full-height {
    height: 100vh !important;
}

.container-slide {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #08014C;
}

.horizontal-vertical-align {
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.image-1 {
    height: 180px !important;
}

.image-logo {
    height: 100px !important;
}

.image-2 {
    height: 130px !important;
}

.image-3 {
    height: 70px !important;
}

.arrow-right {
    color: white !important;
    font-size: 25px !important;
}

.circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.circulo-red {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f12345;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.container-points {
    position: fixed;
    width: 100% !important;
    bottom: 20px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    height: 100% !important;
    align-items: flex-end !important;
}